* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(./Images/back.jpg);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    width: 25%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.64);
    color: white;
}

h2 {
    color: white;
}

.net {
    color: white;
}

.flix {
    color: red;
}

.form div {
    margin: 10px 0;
}
